Gestion de proyectos/GUI/obj/
Gestion de proyectos/GUI/bin/
Gestion de proyectos/Dominio/obj/Debug/CSC7F0A0F13A7F64CF9BB2FA2E9AA8DD1D3.TMP
Gestion de proyectos/Dominio/obj/
Gestion de proyectos/TestResults/4de19a0d-7510-4217-ade4-9d53372bee33/Joaquin_JOAQUIN-PC 2015-09-17 15_53_13.coverage
Gestion de proyectos/TestResults/UnitTests.TareaTest.CalcularDuracionCompuesta-2015-09-13 09_35_39.vsp
