Gestion de proyectos/GUI/obj/
Gestion de proyectos/GUI/bin/
Gestion de proyectos/Dominio/obj/Debug/CSC7F0A0F13A7F64CF9BB2FA2E9AA8DD1D3.TMP
Gestion de proyectos/Dominio/obj/
Gestion de proyectos/TestResults/
Gestion de proyectos/TestResults/UnitTests.TareaTest.CalcularDuracionCompuesta-2015-09-13 09_35_39.vsp
Gestion de proyectos/UnitTests/obj/
